<a href="/users/logout" id="btSair" class="btn btn-secondary" style="position:absolute; right: 0px; z-index: 100;">Sair</a>

<br>
<br>
<br>
<br>
<br>
<br>
        <div id="menuDeSites" style="z-index: 999; width: 100%; display: block; color:white; font-size: 25px;">
            <span id="site1" class="classeMenuzinhoDeAbas" onclick="segueSite1()">Cálculo Pallets + OF</span>
            <br> <br>
            <span id="site2" class="classeMenuzinhoDeAbas" onclick="segueSite2()">Cálculo Pallets simples</span>
            <br> <br>
            <span id="site3" class="classeMenuzinhoDeAbas" onclick="segueSite3()">Válvulas codificações</span>
        </div>

